<ion-view title="about" id="page5" style="background-color:#212121;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/n37rDl2NQeqXLvGQ1eo7_.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="about-heading2" style="color:#F1F1F1;font-weight:lighter;text-align:center;">Fast Pro Apps</h3>
    <div id="about-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFB4B4;font-size:14px;">Create simple apps, but Ultimate make the user experience easy</p>
    </div>
    <ion-list id="about-list3" class="manual-list-fullwidth">
      <ion-item class="item-icon-left item-icon-right positive" id="about-list-item33" href-inappbrowser="https://www.facebook.com/FastProApps/">
        <i class="icon ion-social-facebook"></i>Facebook Page
        <i class="icon ion-android-checkmark-circle icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right balanced" id="about-list-item36" href-inappbrowser="https://www.instagram.com/fast_pro_apps/">
        <i class="icon ion-social-instagram"></i>Instagram Page
        <i class="icon ion-android-checkmark-circle icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right assertive" id="about-list-item34" href-inappbrowser="https://plus.google.com/u/0/+MohebYasser">
        <i class="icon ion-social-googleplus"></i>Google Plus
        <i class="icon ion-android-checkmark-circle icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right calm" id="about-list-item35" href-inappbrowser="https://twitter.com/Fast_proo">
        <i class="icon ion-social-twitter"></i>Twitter Page
        <i class="icon ion-android-checkmark-circle icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>