<ion-view title="main" id="page4" style="background-color:#212121;">
  <ion-content padding="true" class="has-header">
    <div id="main-button-bar1" class="button-bar">
      <button id="main-button4" class="button button-assertive button-small button-block button-clear icon-left ion-android-favorite">Tranding</button>
      <a ui-sref="menu.newApps" id="main-button5" class="button button-assertive button-small button-block icon-right ion-android-checkmark-circle">New</a>
    </div>
    <a href-inappbrowser="https://play.google.com/store/apps/developer?id=Fast+Pro+Apps" id="main-button13" style="font-weight:lighter;border-radius:20px 20px 20px 20px;" class="button button-balanced button-small button-block button-outline">More Apps</a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://play.google.com/store/apps/details?id=cf.fastpro.wallpic.hdwallpapers" id="main-card27">
      <ion-item class="item-thumbnail-left" id="main-list-item22">
        <img src="img/VbntnLyKRlimHrmzOf4f_sdcf.png">
        <h2>WallPic Wallpapers</h2>
        <p style="white-space:normal;">3.48 MB</p>
      </ion-item>
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/EZxyFDj2ScWfzmW94gsO_iokol" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="main-list-item-container8">
        <div id="main-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#5C5B5B;">Bring your screen to life with Great HD Wallpapers and backgrounds</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="main-list-item23">
        <i class="icon ion-android-playstore"></i>Install App
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://play.google.com/store/apps/details?id=cf.fastpro.photo.editor_pep" id="main-card210">
      <ion-item class="item-thumbnail-left" id="main-list-item28">
        <img src="img/rc5HBFDXTPquHaChEqG4_ic_launcher.png">
        <h2>Photo Editor PEP</h2>
        <p style="white-space:normal;">15.2 MB</p>
      </ion-item>
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/sMMBPEySnCaYYV3qDiOr_qwe.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="main-list-item-container11">
        <div id="main-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#5C5B5B;">PEP - is the right photo editor and collage maker for everyone</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="main-list-item29">
        <i class="icon ion-android-playstore"></i>Install App
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://play.google.com/store/apps/details?id=cf.fastpro.hd_wallpapers.full_hd" id="main-card21">
      <ion-item class="item-thumbnail-left" id="main-list-item12">
        <img src="img/o50GNHdTfixErf3CatC0_ic_launcher.png">
        <h2>HD Wallpapers</h2>
        <p style="white-space:normal;">3.04 MB</p>
      </ion-item>
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/RsKtNTq4SD2pnPGOojtx_rd.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="main-list-item-container2">
        <div id="main-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#5C5B5B;">full hd wallpapers app with daily uniqe updates and new backgrounds</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="main-list-item13">
        <i class="icon ion-android-playstore"></i>Install App
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://play.google.com/store/apps/details?id=cf.fastpro.dark.wallpapers" id="main-card29">
      <ion-item class="item-thumbnail-left" id="main-list-item26">
        <img src="img/NrK0JovjQJO6tiE9BpyK_ic_launcher.png">
        <h2>Dark Wallpapers</h2>
        <p style="white-space:normal;">3.4 MB</p>
      </ion-item>
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/SypWJzriQJSO9Jknqnx4_i0op.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="main-list-item-container10">
        <div id="main-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#5C5B5B;">Bring your screen to life with Great Dark And Black HD Wallpapers and backgrounds</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="main-list-item27">
        <i class="icon ion-android-playstore"></i>Install App
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://play.google.com/store/apps/details?id=cf.fastpro.quick_4.fb" id="main-card28">
      <ion-item class="item-thumbnail-left" id="main-list-item24">
        <img src="img/FvnpYgrTPaWKdd1N5Iyb_ic_launcher.png">
        <h2>Turbo 4 Facebook</h2>
        <p style="white-space:normal;">2.92 MB</p>
      </ion-item>
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/JkNmBtaiRw9ToKks5dmQ_romo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="main-list-item-container9">
        <div id="main-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#5C5B5B;">Turbo For Facebook is free client to manage your Facebook account !</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="main-list-item25">
        <i class="icon ion-android-playstore"></i>Install App
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://play.google.com/store/apps/details?id=cf.fastpro.instadownloader.forinstagram" id="main-card26">
      <ion-item class="item-thumbnail-left" id="main-list-item20">
        <img src="img/Y8b6OWDRza2LzZtLugab_ic_launcher.png">
        <h2>Insta Downloader</h2>
        <p style="white-space:normal;">3.09 MB</p>
      </ion-item>
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/mWGEhsj8TS2ayjdSLoN1_1024.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="main-list-item-container7">
        <div id="main-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#5C5B5B;">Insta Downloader tool For Instagram allows you to download videos and images from Instagram</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="main-list-item21">
        <i class="icon ion-android-playstore"></i>Install App
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://play.google.com/store/apps/details?id=cf.fastpro.apk_manager.apk_share" id="main-card25">
      <ion-item class="item-thumbnail-left" id="main-list-item18">
        <img src="img/OaV3UznpR6rupZSaRLyR_ic_launcher.png">
        <h2>Apk Manager</h2>
        <p style="white-space:normal;">4.29 MB</p>
      </ion-item>
      <div class=" item item-image">
        <img src="img/LG8fylSXTdC7ipSVrxeU_Untisdfghjtled-1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="main-list-item-container6">
        <div id="main-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#5C5B5B;">Apk Manager - App Share let you manage and share your apps with your friends or backup apps</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="main-list-item19">
        <i class="icon ion-android-playstore"></i>Install App
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://play.google.com/store/apps/details?id=cf.fastpro.hdwallpapers.backgrounds_wallB" id="main-card24">
      <ion-item class="item-thumbnail-left" id="main-list-item16">
        <img src="img/toFPki5THybSVRpkioBB_ic_launcher.png">
        <h2>WallB Wallpapers</h2>
        <p style="white-space:normal;">2.88 MB</p>
      </ion-item>
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/FwNIZ52SBSliW9AujyAa_HDWALLPAPERS-min.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="main-list-item-container5">
        <div id="main-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#5C5B5B;">Daily updated high quality "WallB HD Wallpapers - Backgrounds", the most popular</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="main-list-item17">
        <i class="icon ion-android-playstore"></i>Install App
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://play.google.com/store/apps/details?id=cf.fastpro.photography.wallpapers" id="main-card23">
      <ion-item class="item-thumbnail-left" id="main-list-item14">
        <img src="img/0VM1JtXkRVCOuu4YXp3t_ic_launcher.png">
        <h2>Photography Walls</h2>
        <p style="white-space:normal;">3.39 MB</p>
      </ion-item>
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/B6kz31PSTaWGkd1NeUvO_dfgdg.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="main-list-item-container4">
        <div id="main-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#5C5B5B;">full hd nature wallpapers app with daily updates and new backgrounds</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="main-list-item15">
        <i class="icon ion-android-playstore"></i>Install App
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" href-inappbrowser="https://play.google.com/store/apps/details?id=cf.fastpro.nature.wallpapers" id="main-card22">
      <ion-item class="item-thumbnail-left" id="main-list-item10">
        <img src="img/mXHmnGYSRv65QhrTNvEm_ic_launcher.png">
        <h2>Nature Wallpapers</h2>
        <p style="white-space:normal;">3.4 MB</p>
      </ion-item>
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/s3FIttnMSKyfPAhwoxio_unnamed.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="main-list-item-container3">
        <div id="main-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#5C5B5B;">full hd nature wallpapers app with daily updates and new backgrounds</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="main-list-item11">
        <i class="icon ion-android-playstore"></i>Install App
        <i class="icon ion-android-alert icon-accessory"></i>
      </ion-item>
    </a>
  </ion-content>
</ion-view>