<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#212121;">
    <ion-content padding="true" style="top:0px !important;" class="side-menu-left ">
      <div class="spacer" style="width: 251px; height: 27px;"></div>
      <div style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/o5nU2dgR7C6zbLMFJRXQ_.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="menu-heading1" style="color:#F1F1F1;font-weight:300;text-align:center;">Fast Pro</h3>
      <ion-list id="menu-list2">
        <ion-item class="item-avatar item-icon-right balanced" id="menu-list-item7" ui-sref="menu.main" menu-close="">
          <img src="img/kYbcRTqc5HvQDgGZAPWL_appstorelogo.png">
          <h2balanced>App Showcase
            <p style="white-space:normal;">all our apps</p>
            <i class="icon ion-android-add icon-accessory"></i>
          </h2balanced>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right calm" id="menu-list-item8" ui-sref="menu.about" menu-close="">
          <i class="icon ion-load-d"></i>About Us
          <i class="icon ion-android-add icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="menu-list-item9" ui-sref="menu.privacyPolicy" menu-close="">
          <i class="icon ion-clipboard"></i>Privacy Policy
          <i class="icon ion-android-share icon-accessory"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>