<ion-view title="New Apps" id="page7" style="background-color:#212121;">
  <ion-content padding="true" class="has-header">
    <div id="newApps-button-bar2" class="button-bar">
      <a ui-sref="menu.main" id="newApps-button10" class="button button-assertive button-small button-block icon-left ion-android-favorite">Tranding</a>
      <button id="newApps-button12" class="button button-assertive button-small button-block button-clear icon-right ion-android-checkmark-circle">New</button>
    </div>
    <div class="spacer" style="width: 300px; height: 134px;"></div>
    <h3 id="newApps-heading3" style="color:#838383;font-weight:lighter;font-style:italic;text-align:center;">Coming Soon</h3>
  </ion-content>
</ion-view>